
body {
  background: black;
}

#main {
  margin: .5em;
}

.osc-joystick {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#111),
    to(black)
  );
  border: solid 1em #111;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-border-radius: 5em;
}

.osc-joystick-button-container {
}

.osc-joystick-button {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#700),
    color-stop(0.5, #222),
    color-stop(0.6, #111),
    to(#211)
  );
  width: 30em;
  height: 10em;
  -webkit-border-radius: 2em;
  border: solid 1em #111;
}

.osc-joystick-handle-container {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#111),
    to(#222)
  );
  border: solid 1em #444;
  width: 30em;
  height: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 5em;
  -webkit-border-radius: 5em;
  -webkit-box-shadow: inset black 0em 0em 2em;
}

.osc-joystick-handle {
  background: red;
  width: 5em;
  height: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12.5em;
  border: solid 1em white;
  -webkit-border-radius: 2.5em;
  -webkit-box-shadow: white 0em 0em .5em;
}
